@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.footer {
    background-color: rgb(8, 23, 23); 
    padding: 10px;
    color: rgb(241, 249, 249); 
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto; 
    font-family: 'Playfair Display',serif;
}



.footer-content p {
    margin: 0;
    font-size: 20px;
}
.follow{
    display: flex;
    justify-content: flex-start;
}
.social-links {
    margin-top: 10px;
    display: flex;
    justify-content: flex-start; 
    gap: 20px; 
   
}

.social-links a {
    color: rgb(241, 249, 249);
    text-decoration: none;
}

.social-links a:hover {
    color: #ff6347;
}

.social-links a svg {
    transition: color 0.3s ease;
}
